@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: url('../images/bed_s.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333333;
}

* {
    box-sizing: border-box;
}

#darkOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.loginBox {
    position: absolute;
    padding: 1em 2em;
    width: 500px;
    height: 460px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 5px 2px #555555;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.loginBox > p {
    text-align: center;
    margin-top: 0;
    font-size: 1.5em;
}

.userNotify {
    padding: 1rem 1rem;
}

.userNotify p {
    margin: 0;
}

.userNotify img {
    width: 1.2em;
    vertical-align: bottom;
    margin-right: .5em;
}

.userNotify span {
    margin-top: .5em;
}

/*============== 
DISPLAY BOXES HERE
================*/

.initial {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-left: 0;

    display: block;
}

.incorrect-creds {
    position: relative;
    background: rgba(255, 107, 107, 0.5);
    border: 1px solid rgba(255, 107, 107);

    display: block;
}

.regisSuccess {
    position: relative;
    background: rgba(80, 216, 91, 0.5);
    border: 1px solid rgba(80, 216, 91, 0.5);

    display: block;
}

.inputBox {
    justify-content: center;
    margin: auto;
}

.notRegis {
    padding-bottom: 1em;
    color: rgb(236, 212, 104);
}

input[type=text], input[type=password] {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    padding: 1em;
    border-radius: .1em;
    font-family: 'Montserrat', sans-serif;
}

input[type=password] {
    letter-spacing: 3px;
    font-weight: 900;
}

input[type=submit] {
    width: 100%;
    margin-top: 2em;
    border: none;
    border: .1em solid rgb(236, 212, 104);
    background: none;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    transition: background-color .1s linear, color 0.1s linear;
}

input[type=submit]:hover {
    background-color: rgb(236, 212, 104);
    color: #333333;
    cursor: pointer;
}

.inputBox:nth-child(4) {
    margin-top: 1em;
}

.inputBox a {
    text-decoration: none;
    color: #777777;
}

.inputBox a:hover {
    text-decoration: underline;
}