@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: rgb(243, 243, 243);
    color: #333333;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.top {
    position: fixed;
    width: 100%;
    background-color: rgb(236, 212, 104);
    padding: 0 3em;
    z-index: 5;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .15);
}

.top #menuItems {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
}

#menuItems a {
    text-decoration: none;
    color: #333333;
    transition: background-color .08s linear;
}

#menuItems a#active {
    font-weight: bold;
}

#menuItems a:hover {
    background-color: rgba(255, 255, 255, .4);
}

#menuItems a div {
    padding: 1em;    
}

.userOptions {
    float: right;
    padding: 1em 0;
}

.userOptions span {
    padding-right: .75em;
    border-right: 1px solid #333333;
    margin-right: .5em;
}

.userOptions a {
    text-decoration: none;
    color: #333333;
}

.userOptions a:hover {
    text-decoration: underline;
}

.underlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54px;
}

.tableContain {
    padding: 2em 4em;
    position: relative;
}

table {
    width: 100%;
    height: 200%;
}

table tr th {
    text-align: left;
    padding: 1em;
    background-color: rgb(236, 212, 104);
}

table tr th:hover {
    cursor: default;
}

table tr td {
    padding: .75em 1em;
}

table tr td:nth-child(4) {
    background-color: rgb(243, 243, 243);
}

table tr:nth-child(even) {
    background-color: rgb(233, 230, 230);
}

table tr th:nth-child(1) {
    width: 15%;
}

table tr th:nth-child(2) {
    width: 20%;
}

table tr th:nth-child(3) {
    width: 50%;
}

table tr:hover {
    background-color: rgb(255, 239, 170);
    cursor: pointer;
}

table tr td:nth-child(4) {
    padding: 0 1em;
    padding-right: 0;
}

table tr td:nth-child(4):hover {
    cursor: default;
}

table tr td button {
    background-color: rgba(0, 0, 0, 0);
    border: .1em solid rgb(236, 212, 104);
    color: #666666;
    border-radius: .1em;
    padding: .9em 1em;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: none;
    transition: background-color .1s linear;
}

table tr:hover > td button {
    display: inline;
    cursor: pointer;
}

td button:hover {
    background-color: rgb(236, 212, 104);
    color: #333333;
}