@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: rgb(243, 243, 243);
    color: #333333;
}

* {
    box-sizing: border-box;
}

.banner {
    width: 100%;
    background-image: url('../images/athome_s.jpg');
    background-position: center;
    background-size: cover;
    background-position-y: 0;
    background-attachment: fixed;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
}

.banner #darkOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}

.intro, .container {
    width: 50%;
    position: relative;
}

.intro {
    position: relative;
}

.intro p {
    position: fixed;
    width: 50%;
    left: 0;
    top: 33%;
    margin: auto;
    padding-left: 1em;

    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
    text-align: right;
}

.container {
    position: relative;
    right: 0;
    margin: auto;
}

.container > p {
    margin: 0;
    padding: .5em;
    font-size: 2em;
    text-align: center;
}

.formContain {
    position: relative;
    margin: auto;
    width: 600px;
    height: auto;
    padding: 2em 3em;
    display: flex;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 .2em .5em .2em #555555;
    border-radius: .15em;
    color: #333333;
}

.formContain form p {
    text-align: left;
}

form {
    width: 100%;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox p {
    margin-bottom: .5em;
}

.inputBox .required {
    color: rgb(189, 77, 77);
    padding-left: .2em;
    font-weight: bold;
}

input[type=text], input[type=number], input[type=date] {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    padding: 1em;
    border-radius: .15em;
    font-family: 'Montserrat', sans-serif;
}

#numContain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numInput, .dateInput {
    width: 49%;
}

select {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    border-radius: .15em;
    font-family: 'Montserrat', sans-serif;
    padding: 0 .5em;
}

.roomList {
    width: 100%;
    height: 15em;
    overflow-y: scroll;
}

.roomList table {
    width: 100%;
}

.roomList table tr {
    width: 100%;
    border: none;
    text-align: center;
}

.roomList table tr:nth-child(even) {
    background-color: rgb(233, 230, 230);
}

.roomList table tr:hover {
    background-color: rgb(255, 239, 170);
    cursor: pointer;
}

.roomList table tr td {
    padding: .75em 1em;
}

#paypal-button {
    display: none;
}

.radioContain {
    text-align: left;
    width: 100%;
    height: auto;
    padding: 1em 3em 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

label {
    position: relative;
    width: 50%;
    padding-left: 2.5em;
}

label:hover {
    cursor: pointer;
}

label input {
    display: none;
    padding-left: 1.5em;
}

.customRadio {
    position: absolute;
    height: 19px;
    width: 19px;
    top: 0;
    left: 0;
    border: 1px solid rgb(236, 212, 104);
    border-radius: 50%;
    margin-left: .5em;
    transition: background-color .1s linear, border .1s linear;
}

label input:hover ~ .customRadio {
    border: 2px solid rgb(236, 212, 104);
}

label input:checked ~ .customRadio {
    background-color: rgb(236, 212, 104);
}

input[type=submit] {
    width: 100%;
    border: .15em solid rgb(236, 212, 104);
    background: none;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    transition: background-color .1s linear, color 0.1s linear;
}

input[type=submit]:hover {
    background-color: rgb(236, 212, 104);
    color: #333333;
    cursor: pointer;
}

.formContain a {
    text-decoration: none;
    color: #333333;
}

.formContain .inputBox:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.buttonBox {
    width: 49%;
}

#cancelButton {
    width: 100%;
    border: .15em solid rgb(189, 77, 77);
    color: #666666;
    transition: background-color .1s linear, color 0.1s linear;
}

#cancelButton:hover {
    background-color: rgb(189, 77, 77);
    color: #FFFFFF;
    cursor: pointer;
}

#cancelButton p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: .9em;
}