@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #EEEEEE;
    color: #333333;
}

* {
    box-sizing: border-box;
}

select {
    width: auto;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    border-radius: .1em;
    font-family: 'Montserrat', sans-serif;
    padding: 0 .5em;
}

.top {
    position: fixed;
    width: 100%;
    background-color: rgb(236, 212, 104);
    padding: 0 3em;
    z-index: 5;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .15);
}

.top #menuItems {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
}

#menuItems a {
    text-decoration: none;
    color: #333333;
    transition: background-color .08s linear;
}

#menuItems a#active {
    font-weight: bold;
}

#menuItems a:hover {
    background-color: rgba(255, 255, 255, .4);
}

#menuItems a div {
    padding: 1em;    
}



.userOptions {
    float: right;
    padding: 1em 0;
}

.userOptions span {
    padding-right: .75em;
    border-right: 1px solid #333333;
    margin-right: .5em;
}

.userOptions a {
    text-decoration: none;
    color: #333333;
}

.userOptions a:hover {
    text-decoration: underline;
}

.underlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54px;
}

.tableContain {
    padding: 2em 4em;
    position: relative;
}

.toggles {
    margin-bottom: 1em;
}

.toggles span {
    padding-right: .5em;
}

table {
    position: relative;
    width: 100%;
}

table tr th {
    text-align: left;
    padding: 1em;
    background-color: rgb(236, 212, 104);
}

table tr td {
    padding: .75em 1em;
}

table tr th:nth-child(1) {
    width: 80%
}

table tr th:nth-child(2) {
    width: 20%;
}

table tr:nth-child(even) {
    background-color: rgb(233, 230, 230);
}

table tr:hover {
    background-color: rgb(255, 239, 170);
    cursor: pointer;
}

.popupBoxContain {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: block;
}

.popupBox {
    position: absolute;
    width: 532px;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 2em;
    background-color: #EEEEEE;
    overflow-y: auto;
}

.popupBox h3 {
    text-align: center;
}

.h3--room {
    margin-top: 0;
}

.roomDetails {
    text-align: right;
}

.statusBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statusBox label {
    width: 49%;
    margin: 0;
}

.statusBox label input {
    display: none;
}

.statusBox label div {
    text-align: center;
    width: 100%;
    padding: 1em;
    margin: 0;
    border: 2px solid rgb(255, 239, 170);
    border-radius: .15em;
    cursor: pointer;
    transition: background-color .1s linear, border .1s linear;
}

.statusBox label div:hover {
    background-color: rgb(255, 239, 170);
}

.statusBox label input:checked + div {
    background-color: rgb(236, 212, 104);
    border: 2px solid rgb(236, 212, 104);
}

.formContain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.h3--client {
    margin-bottom: 0;
}

.formContain .inputBox {
    width: inherit;
}

.inputBox > p {
    margin-bottom: .5em;
}

.inputBox input[type=text], input[type=number], input[type=date] {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(236, 212, 104);
    height: 2.5em;
    padding: 1em;
    border-radius: .15em;
    font-family: 'Montserrat', sans-serif;
}

#numContain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numInput {
    width: 49%;
}

input[type=submit] {
    width: 100%;
    border: .15em solid rgb(236, 212, 104);
    background: none;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    transition: background-color .1s linear, color 0.1s linear;
}

input[type=submit]:hover {
    background-color: rgb(236, 212, 104);
    color: #333333;
    cursor: pointer;
}

.formContain .inputBox:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.h3--payment {
    margin-bottom: 0;
}

.buttonBox:nth-child(1) {
    width: 58%;
}

.buttonBox:nth-child(2) {
    width: 40%;
}

.buttonBox a {
    text-decoration: none;
}

#cancelButton {
    width: 100%;
    border: .15em solid rgb(170, 170, 170);
    color: #666666;
    transition: background-color .1s linear, color 0.1s linear;
    cursor: pointer;
}

#cancelButton:hover {
    background-color: rgb(170, 170, 170);
    color: #FFFFFF;
}

#cancelButton p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: .9em;
}