@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: rgb(243, 243, 243);
    text-align: center;
    color: #333333;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../images/beach_s.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner #darkOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.banner h1 {
    width: 532px;
    position: relative;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
    top: 37%;
    left: 5%;
    font-size: 3em;
}

.ribbon {
    width: 100%;
    position: relative;
    background-color: #efe786;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.25);
    z-index: 9;
}

.ribbon h2 {
    margin: 0;
    padding: 1em 0;
}

.cardContain {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 10em;
}

.cardItem {
    position: relative;
    height: 350px;
    width: 560px;
    margin: auto;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2em;
    box-shadow: 0 5px 30px 3px rgba(0, 0, 0, .3);
}

.cardItem #darkOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.cardItem h3 {
    position: relative;
}

.cardItem .description {
    position: absolute;
    width: 70%;
    bottom: 0;
}

.description p {
    margin: 0;
    text-align: left;
    line-height: 1.5em;
    padding: 0 0 1.5em 1.5em;
}

.cardItem:nth-child(1) {
    background-image: url('../images/food_s.jpg');
}

.cardItem:nth-child(2) {
    background-image: url('../images/bedroom_s.jpg');
}

.cardItem:nth-child(3) {
    background-image: url('../images/service_s.jpg');
}

.cardItem:nth-child(4) {
    background-image: url('../images/poolside_s.jpg');
}

h1#about {
    margin-top: 2em;
    color: rgb(219, 198, 103);
}

p#about {
    padding: 0 10em;
    line-height: 2em;
}

.reserve {
    margin: 2em 0;
    padding: 0 5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.reserve div p {
    font-weight: 600;
    margin: 0;
    padding: 1em 0;
}

.reserve div {
    width: auto;
    margin: auto;
}

#reservation {
    padding-bottom: 0;
    margin-bottom: 0;
}

#reservation a {
    text-decoration: none;
    color: #333333;
}

#reservation a div {
    padding: 1em 2em;
    background-color: rgb(219, 198, 103);
    text-align: center;
    transition: transform 0.07s ease-in-out;
}

#reservation a div:hover {
    transform: scale(1.05);
}

footer {
    width: 100%;
    height: auto;
    background-color: bisque;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: #333333;
}

footer a div {
    float: right;
    text-align: center;
    padding: .25em .5em;
}

footer a div:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1480px) {
    .cardContain {
        padding: 1em 5em;
    }

    p#about {
        padding: 0 5em;
    }
}

@media screen and (max-width: 1366px) {
    .cardContain {
        padding: 1em 0;
    }
}

@media screen and (max-width: 768px) {
    .cardContain {
        padding: .5em 0;
    }
}

@media screen and (max-width: 600px) {
    .cardItem {
        margin-top: .5em;
    }

    p#about {
        padding: 0 2.5em;
    }
}

@media screen and (max-width: 400px) {
    .banner {
        background-position: center;
    }

    .banner h1 {
        width: 100%;
        top: 40%;
        left: 0;
        padding: 0 0 0 .5em;
        font-size: 2em;
    }

    .ribbon {
        padding: 0 1em;
        text-align: left;
    }

    .cardContain {
        padding-top: 1px;
    }

    .cardItem {
        margin-top: 1px;
        height: 250px;
        line-height: 1em;
        box-shadow: none;
    }

    .cardItem .description {
        width: 100%;
        left: 0;
        text-align: justify;
    }

    .description p {
        padding: 0 1em 1em;
    }

    p#about {
        text-align: justify;
        padding: 1em;
    }
}