@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #EEEEEE;
    color: #333333;
}

* {
    box-sizing: border-box;
}

.top {
    position: fixed;
    width: 100%;
    background-color: rgb(236, 212, 104);
    padding: 0 3em;
    z-index: 5;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .15);
}

.top #menuItems {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: row;
}

#menuItems a {
    text-decoration: none;
    color: #333333;
    transition: background-color .08s linear;
}

#menuItems a#active {
    font-weight: bold;
}

#menuItems a:hover {
    background-color: rgba(255, 255, 255, .4);
}

#menuItems a div {
    padding: 1em;    
}

.userOptions {
    float: right;
    padding: 1em 0;
}

.userOptions span {
    padding-right: .75em;
    border-right: 1px solid #333333;
    margin-right: .5em;
}

.userOptions a {
    text-decoration: none;
    color: #333333;
}

.userOptions a:hover {
    text-decoration: underline;
}

.underlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54px;
}

.dataContain {
    padding: 2em 4em;
    position: relative;
}

h4 {
    
}

.emptyNotif {
    text-align: center;
    margin: 0;
    padding: 1rem auto;
    background: rgba(236, 212, 104, .5);
}